@charset "UTF-8";
/* EXTEND */
.estilo_1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: black; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  overflow-x: hidden; }

/*Enpieza el inicio*/
.logo {
  width: 200px;
  height: auto; }

.grid_inicio {
  display: grid;
  grid-template-rows: 1fr 0.2fr 2fr 0.25fr; }

.separaciones {
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  font-size: 1rem; }
  .separaciones p {
    padding: 20px;
    text-align: center;
    font-family: 'Updock', cursive;
    font-size: 2rem;
    color: #7f81f7; }

.fondo_img {
  width: 100vw;
  background-color: #f8f542;
  background-image: url(../img/fondo2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column; }

#nav_edicion {
  width: 100vw;
  background-color: #cb9cf8; }

#nav_edicion2 {
  background-color: aquamarine; }

.menu {
  width: 100%;
  height: 5px;
  background: #9880f0;
  padding: 0 20px;
  max-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-around; }
  .menu nav {
    height: 100%;
    overflow-y: hidden; }

nav > ul {
  height: 100%;
  display: flex; }

nav > ul > li {
  height: 100%;
  list-style: none;
  position: relative; }

nav > ul > li > a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  color: white;
  overflow-y: hidden;
  text-transform: uppercase;
  transition: all 300ms ease; }

nav > ul > li > a:hover {
  transform: scale(1.2); }

#fondo_pag {
  background-image: url("../img/fondo.jpg"); }

.fuente {
  font-size: 3rem;
  font-family: 'Updock', cursive; }

.pocicion {
  margin-top: 20px; }

.footer_edicion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url("../img/fondo3.jpg"); }

.flex_footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("../img/fondo3.jpg");
  padding: 55px 20px; }
  .flex_footer div {
    text-align: center;
    font-size: 1.1rem; }

/* EMPIEZA FOTOS */
.fuente {
  font-family: 'Updock', cursive; }

.tamaño_img {
  width: 400px; }

.fondo_img {
  display: flex;
  justify-content: center;
  align-items: center; }

.separaciones_fotos {
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-size: 1rem; }

/* Empieza Dibujos */
.grid_dibujos {
  display: grid; }

img {
  max-width: 100%; }

.galeria {
  padding: 80px 0; }
  .galeria img {
    background-color: white;
    padding: 2px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer; }

#bordes {
  border-radius: 15px;
  border: solid 2px white; }

.tamaño-img {
  width: 450px;
  height: 400px; }

.flecha_arriba {
  display: flex;
  justify-content: end;
  width: 70px;
  height: auto; }

/* EMPIESA grabados*/
.grid_graba {
  display: grid; }

#bordes {
  border-radius: 15px;
  border: solid 2px white; }

.tamaño-img {
  width: 450px;
  height: 400px; }

.flecha_arriba {
  display: flex;
  justify-content: end;
  width: 70px;
  height: auto; }

/* EMPIESA pinturas*/
.grid_pinturas {
  display: grid; }

#bordes {
  border-radius: 15px;
  border: solid 2px white; }

.tamaño-img {
  width: 450px;
  height: 400px; }

.flecha_arriba {
  display: flex;
  justify-content: end;
  width: 70px;
  height: auto; }

.separaciones_mi_historia {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  font-size: 1rem; }

/* EMPIEZA TIENDA */
.grid_tienda {
  grid-template-rows: 1fr 0.35fr 3fr 0.6fr; }

.tarjeta_tienda {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.tienda_img {
  width: 200px;
  height: 100px;
  border-radius: 5px; }

.tamaño_img_tienda {
  width: 320px; }

.fondo_tarjetas {
  background-color: chocolate;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px; }

.fondo_tarjetas2 {
  background-color: #ffc400;
  margin-bottom: 10px;
  padding: 5px; }

.fondo_tarjetas3 {
  background-color: #019161;
  margin-bottom: 10px;
  padding: 5px; }

.fondo_tarjetas4 {
  background-color: cornflowerblue;
  margin-bottom: 10px;
  padding: 5px; }

.tamaño_text {
  font-size: 1.5rem;
  margin-left: 8px;
  overflow-y: hidden; }

.tamaño_text2 {
  font-size: 1rem;
  margin-left: 8px;
  overflow-y: hidden; }

/* EMPIEZA @MEDIA SCREEM  768PX*/
@media screen and (min-width: 768px) {
  /*  INICIO */
  .grid_inicio {
    grid-template-rows: 1.3fr 0.1 2.5fr 0.3fr; }
  .logo {
    width: 300px;
    height: auto; }
  .separaciones {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    font-size: 4rem; }
    .separaciones h1 {
      font-size: 5rem;
      margin-top: 15vw;
      text-shadow: 5px red; }
    .separaciones .p {
      font-size: 4rem;
      padding-top: 5px;
      text-align: center; }
  .edicion_footer {
    padding-top: 10px; }
  /* FOTOS */
  .fondo_img {
    display: flex;
    justify-content: center;
    align-items: center; }
  .separaciones_fotos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .fuente {
    font-family: 'Updock', cursive; }
  .tamaño_img {
    width: 500px; }
  /*    MI HISTORIA  */
  .separaciones_mi_historia {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    font-size: 1rem; }
  .logo {
    width: 300px; }
  /* TIENDA */
  .grid_tienda {
    grid-template-rows: 1fr 0.35fr 3fr 0.6fr; }
  .tarjeta {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; } }

/* EMPIEZA @MEDIA SCREEM 1024 */
@media screen and (min-width: 1024px) {
  /* INICIO*/
  .grid_inicio {
    grid-template-rows: 1fr 2.3fr 0.25fr; }
  #nav_edicion {
    background-color: #cb9cf8;
    font-size: 1.2rem; }
  .fuente {
    font-family: 'Updock', cursive;
    font-size: 5rem; }
  .separaciones {
    margin-top: 20vw;
    font-size: 1.3rem; }
    .separaciones h1 {
      font-size: 5rem; }
      .separaciones h1 p {
        font-size: 4rem; }
  /*FOTOS*/
  .separaciones {
    margin-top: 5px;
    margin-bottom: 5px; }
  /*    MI HISTORIA  */
  .separaciones_mi_historia {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    font-size: 1rem; }
  .logo {
    width: 400px; }
  /* Formulario */
  #tamaño_formulario {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column; } }

/* EMPIEZA @MEDIA SCREEM 1440 */
@media screen and (min-width: 1440px) {
  /* INICIO*/
  .grid_inicio {
    grid-template-rows: 1fr 2.6fr 0.25fr; }
  .logo {
    overflow: hidden; }
  .separaciones {
    font-size: 2rem; }
    .separaciones h1 {
      font-size: 7rem;
      margin-top: 7vw; }
    .separaciones p {
      padding: 10px;
      text-align: center;
      font-family: 'Updock', cursive;
      font-size: 4rem; }
  .div p {
    font-size: 5rem; }
  /* FOTOS */
  /*    MI HISTORIA  */
  .separaciones_mi_historia {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    font-size: 1rem; }
  .logo {
    width: 400px; } }
